body {
    margin: 0px;
    background-color: black;
    font-family: "Arial Narrow", "Times New Roman", Verdana;
    display: flex;
    flex-direction: column;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px auto 10px auto
}

#pad {
    height: 600px;
    width: 600px;
    background-color: white;
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.row {
    flex: auto;
    display: flex;
}

.cell {
    flex: auto;
}

.color {
    flex: auto;
}

button {
    margin: 20px auto 0px auto;
}